.imagem-lore{
	height: 150px;
	max-width: 80%;
	margin-left: 20px;
	border:4px solid gray;
}

.imagem-lore2{
	height: 150px;
	max-width: 80%	
	margin-left: 20px;
	margin-right: 30px;	
	border:4px solid gray;
}

.texto-lore{
	color: white;
	margin-left: 3px;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.texto-lore2{
	color: white;
	margin-right: 30px;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	text-align: center;		
}

.titulo-lore{
	font-family: Tahoma;
	color: white;
	text-align: center;
	margin-bottom: 8px;
	font-weight: bold;
}

.botao-pagina{
	background-color: transparent !important;
	border: 2px solid white !important;
	color: white !important;
	font-family: Tahoma !important;	
}

.botao-pagina:hover {
	background-color: #4B0082 !important;  	
}

