.imagem-novidades{
	height: 250px;
	max-width: 100%;
	margin-left: 100px;
	margin-top: 30px;
	border: 4px solid  gray;
}

.texto-novidades{
	font-family: Tahoma;
	color: white;
	text-align: justify;
	margin-left: 35px;
	margin-right: 35px;
}

.titulo-novidades{
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: Tahoma;
}