.imagem-personagem {
	display: block;
	height: 200px;
	width: 33%;
	margin-top: 20px;
	margin-left: 12px;
	border: 4px solid gray;
}

.titulo-personagem {
	display: block;
	font-family: Tahoma;
	font-weight: bold;
	text-align: center;
	color: white;
	margin-top: -200px;
	margin-right: -50px;
}
.texto-personagem{
	display: block;
	color: white;
	font-family: Tahoma;
	text-align: justify;
	margin-left: 260px;
	margin-right: 50px;
	margin-top: 20px;
}
.link-personagem{
	color: white;
	font-family:Tahoma;
	}

.titulo-personagem2 {
	font-family: Tahoma;
	font-weight: bold;
	text-align: center;
	color: white;
	margin-top: -207px;
	margin-right: 66px;
}

.imagem-personagem2 {
	height: 200px;
	width: 33%;
	margin-top: 60px;
	margin-left: 12px;
	border: 4px solid gray;
}

.botao-mais{
	background-color: transparent; 
  	border: 2px solid white;
  	border-radius: 15px;
  	color: white;
  	padding: 3px 15px;
  	text-align: center;
  	text-decoration: none;  	
  	display: inline-block;
  	font-size: 16px;
  	font-family: Tahoma;
  	float: right;
  	margin-right: 50px;
  	margin-top: 15px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.botao-mais:hover {
	background-color: #4B0082;  	
}
.botao-mais a{
	text-decoration: none !important;
	color: inherit !important;
}
.botao-mais:last-child{
	margin-top: -8px;
}


.titulo-personagem3 {
	font-family: Tahoma;
	font-weight: bold;
	text-align: center;
	color: white;
	margin-top: -207px;
	margin-right: -20px;
}
.imagem-personagem3 {
	height: 200px;
	width: 33%;
	margin-top: 45px;
	margin-left: 12px;	
	border: 4px solid gray;
}

.botao-personagem{
	background-color: transparent !important;
	border: 2px solid white !important;
	color: white !important;
	font-family: Tahoma !important;	
	margin-top: 50px;
	margin-right: 5px !important;
}

.espaco-personagem{
	margin-left: 155px !important;
}

.botao-personagem:hover {
	background-color: #4B0082 !important;  	
}